.error {
    background-color: #ff0000;
    color: #fff;
    padding: 15px 10px;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 20px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
}

.error img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}
@media (min-width: 992px) and (max-width: 1199.98px) {
}
